#ignore all folders that start with period
.*/
!.mvn/
.buildpath
.checkstyle
.classpath
.flattened-pom.xml
.project
.mvn/wrapper/maven-wrapper.jar
*~
*.log
*.lck
*.iml
*.patch
*.DS_Store
log.path_IS_UNDEFINED
target/
node_modules/
node/
reports/
git.properties
TAGS
.DS_STORE
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
dependency-reduced-pom.xml
user.webpack.config.json
.eslintcache
.npmrc
.externalToolBuilders*
.indexing
jetbrains_config.js
.factorypath
.cproject
CTestTestfile.cmake
.python-version
