.buildpath
.checkstyle
.classpath
.idea/
.vscode/
.project
.mvn/wrapper/maven-wrapper.jar
.profiler
.settings/
*~
*.log
*.lck
*.iml
*.patch
*.DS_Store
log.path_IS_UNDEFINED
target/
node_modules/
node/
reports/
git.properties
TAGS
.DS_STORE
contrib/native/client/build/
contrib/native/client/build/*
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
dependency-reduced-pom.xml
user.webpack.config.json
.eslintcache
plugins/sample-data/dremio_hive_db/*
plugins/hive/metastore_db/*
.npmrc
.externalToolBuilders*
.vscode
.indexing
