$gradeScale: 25, 50, 75, 100, 150, 200, 300, 400, 500, 600, 700, 800, 900;
$shades: "cyan", "gray", "indigo", "indigo-vivid", "red", "red-cool",
  "orange-warm", "green", "blue", "blue-warm", "violet-warm", "magenta",
  "orange", "brand", "neutral", "mint";
$sizes: "05", "1", "105", "2", "205", "3", "4", "405", "5", "505", "6", "7", "8",
  "9", "905", "10";
