.color-faded {
  color: var(--color--neutral--600);
}

.color-neutral-400 {
  color: var(--color--neutral--400);
}

.color-neutral-500 {
  color: var(--color--neutral--500);
}

.color-neutral-900 {
  color: var(--color--neutral--900);
}

.color-info-400 {
  color: var(--color--cyan--400);
}

.color-success-300 {
  color: var(--color--green--300);
}

.color-danger-500 {
  color: var(--color--red--500);
}
