{
  "presets": ["env", "react", "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    ["transform-runtime", {
      "helpers": true,
      "polyfill": false,
      "regenerator": true
    }],
    "transform-es2015-modules-commonjs",
    "react-require"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "development": {
    }
  }
}
