{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:promise/recommended",
    "prettier"
  ],
  "globals": {
    "laDeprecated": false
  },
  "ignorePatterns": [
    "**/*-spec.js",
    "**/*.spec.js",
    "src/setup.js",
    "test/testUtil.js"
  ],
  "overrides": [
    {
      "files": "**/*.tsx",
      "rules": {
        "react/prop-types": "off"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "react/display-name": "off",
    "react/prop-types": "off",

    // TODO: fix code issues and remove these overrides
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-var-requires": "warn",
    "@typescript-eslint/no-unnecessary-type-constraint": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "jsx-a11y/alt-text": "warn",
    "jsx-a11y/anchor-is-valid": "warn",
    "jsx-a11y/aria-role": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/iframe-has-title": "warn",
    "jsx-a11y/label-has-associated-control": "warn",
    "jsx-a11y/mouse-events-have-key-events": "warn",
    "jsx-a11y/no-autofocus": "warn",
    "jsx-a11y/no-noninteractive-element-interactions": "warn",
    "jsx-a11y/no-noninteractive-tabindex": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "no-async-promise-executor": "warn",
    "no-class-assign": "warn",
    "no-unsafe-optional-chaining": "warn",
    "no-useless-catch": "warn",
    "no-useless-escape": "warn",
    "promise/always-return": "warn",
    "promise/catch-or-return": "warn",
    "promise/no-return-wrap": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".jsx", ".tsx"] }],
    "react/jsx-key": "warn",
    "react/no-deprecated": "warn",
    "react/no-unknown-property": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
