{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:promise/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",

  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },

  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecorators": true
    }
  },

  "rules": {
    "no-class-assign": "off", // Needed for Radium HOC
    "no-prototype-builtins": "error",
    "no-console": ["warn", { "allow": ["warn", "error", "info"] }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "react/no-children-prop": "error",
    "no-case-declarations": "warn",
    "react/jsx-key": "error",
    "react/no-deprecated": "warn",
    "no-constant-condition": "warn",
    "react/jsx-no-target-blank": "error",
    "prefer-const": "error",
    "no-extra-boolean-cast": "warn",
    "react/no-string-refs": "error",
    "react/no-find-dom-node": "warn",
    "react/jsx-no-duplicate-props": "error",
    "react/no-unescaped-entities": "error",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/no-unknown-property": "warn",

    // Promise errors switched to warning until DX-48988 is completed
    "promise/always-return": "error",
    "promise/catch-or-return": "error",
    "promise/no-return-wrap": "warn",
    "promise/valid-params": "error",
    "promise/no-callback-in-promise": "error",
    "@typescript-eslint/no-unused-vars": "error"
  },
  "overrides": [
    {
      "files": "**/*.tsx",
      "rules": {
        "react/prop-types": "off"
      }
    }
  ],
  "settings": {
    "import/core-modules": ["redux-saga/effects"],
    "react": {
      "version": "16.7"
    }
  },
  "globals": {
    "$": false,
    "jsPlumb": false,
    "ga": false,
    "la": false, // todo: remove
    "expect": false,
    "sinon": false,
    "Immutable": false
  }
}
